nav {
  background-color: var(--primary);
  color: white;
  .logo {
    font-size: 1.125rem;
    font-weight: 700;
  }
}

ul {
  li {
    padding: 0.625rem 1.25rem;
    display: inline-block;
    border-radius: 0.1875rem;
    &:hover {
      background-color: var(--secondary);
    }
    transition: 0.4s;
  }
}
