@import "reset.scss";

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-fill {
  flex: 1 1 auto;
}

// utils

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

//debug

.d1 {
  border: 1px solid red;
}

.d2 {
  border: 1px solid green;
}
